<div data-ng-controller="OrderController" data-ng-init="all()">
  <div class=".container-fluid" data-ng-hide="orderSelections.length == 0">
    <div class="row">
      <div class="col-md-6 selectedItems">
        <div class="smallGridStyle" data-ng-grid="smallGridOptions"></div>
        <!--
        <div ng-repeat="sel in orderSelections">
          <strong>{{sel.order.orderNumber}}</strong>
        </div>
        -->
        Search by: &nbsp; &nbsp; &nbsp;
        <input type="checkbox" data-ng-model="searchBy[0]"> Style
        <input type="checkbox" data-ng-model="searchBy[1]"> Color
        <input type="checkbox" data-ng-model="searchBy[2]"> Size
      </div>
      <div class="col-md-6"><h3>Actions</h3>
      <button class="btn btn-default" data-ng-click="assignInventory()">Assign Inventory</button>
      <button class="btn btn-default" data-ng-click="receiveInventory()">Receive Inventory</button>
      <button class="btn btn-default" data-ng-click="changeInventoryStatus()">Change Inventory Status</button>
      </div>
    </div>
  </div>


  <div class="gridStyle" data-ng-grid="gridOptions"></div>

  <hr>

  <div class="alert alert-info">
      Server Response: {{response | json}}
  </div>
<!--   <form ng-upload="uploadComplete(content)" ng-upload-loading="startUploading()" action="/orders/upload" role="form">
    <div class="form-group">
      <label for="orderFile">Order csv file</label>
      <input type="file" name="file" id="orderFile">
      <p class="help-block">Select the csv file that contains the orders.</p>
    </div>
    <button type="submit" class="btn btn-default" ng-disabled="$isUploading">Submit</button>
  </form>
  <div class="selectedItems">
    <div ng-repeat="sel in orderSelections">
      <hr>
      <address>
        <strong>{{sel.name}}</strong><br>
        <a href="mailto:#">{{sel.email}}</a><br>
        <abbr title="Phone">P:</abbr>{{sel.telephone}}<br>
        {{sel.street}}<br>
        {{sel.city}}, {{sel.state}} {{sel.zipcode}}
      </address>
      <hr>
    </div>
  </div>
  <div class="gridStyle" ng-grid="gridOptions"></div>
  <hr>
  <div class="alert alert-info">
      Server Response: {{response | json}}
  </div>
 -->
 </div>