<div data-ng-controller="InventoryController" data-ng-init="all()">
  <div class="container">
    <div class="row">
      <div class="col-md-12" data-ng-hide="error.message === null">
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-ng-click="clearError()">&times;</button>
          <strong>Error!</strong> {{error.message}} <a href="{{error.href}}" class="alert-link">{{error.link}}</a>
        </div>
      </div>
      <div class="col-md-12" data-ng-hide="warning.message === null">
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-ng-click="clearWarning()">&times;</button>
          <strong>Warning!</strong> {{warning.message}} <a href="{{warning.href}}" class="alert-link">{{warning.link}}</a>
        </div>
      </div>
      <div class="col-md-12" data-ng-hide="info.message === null">
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-ng-click="clearInfo()">&times;</button>
          <strong>Info!</strong> {{info.message}} <a href="{{info.href}}" class="alert-link">{{info.link}}</a>
        </div>
      </div>
      <div class="col-md-12" data-ng-hide="success.message === null">
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-ng-click="clearSuccess()">&times;</button>
          <strong>Success!</strong> {{success.message}} <a href="{{success.href}}" class="alert-link">{{success.link}}</a>
        </div>
      </div>
    </div>
    <div class="row gridheader">
      <div class="col-md-6">
        <h4>Reservations</h4>
      </div>
      <div class="col-md-6">
        <h5 data-ng-hide="inventorySelections.length === 0">Inventory #{{inventorySelections[0].inventory.tagId}}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 selectedItems">
        <div class="smallGridStyle" data-ng-grid="resGridOptions"></div>
      </div>
      <div class="col-md-6">
        <div data-ng-hide="inventorySelections.length === 0">
          <div class="row">
            <div class="col-md-12">
              <!-- show notes here? -->
<!--
              <h5>{{orderItemInventory.status}}</h5>
              <div
                  class="xsmallGridStyle"
                  data-ng-grid="resGridOptions"
                  data-ng-hide="orderItemInventory.inventory === null">
              </div>
 -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="btn-group btn-group-justified">
                <div class="btn-group">
                  <button
                      class="btn btn-default btn-sm"
                      data-ng-click="receiveInventory()"
                      data-ng-disabled="!isInventoryReceivable()">
                    Receive
                  </button>
                </div>
                <div class="btn-group">
                  <button
                      class="btn btn-default btn-sm"
                      data-ng-click="sendToCleaners()"
                      data-ng-disabled="!isCleanable()">
                    Send to Cleaners
                  </button>
                </div>
              </div> <!-- btn-group-justified -->
            </div> <!-- col -->
          </div> <!-- row -->
        </div> <!-- data-ng-hide no order selections -->
      </div> <!-- col -->
    </div> <!-- row -->


    <!-- Actions for main grid -->
    <div class="row gridheader">
      <div class="col-md-4">
        <div class="btn-group">
          <button
              class="btn btn-default btn-xs"
              data-toggle="modal"
              data-target="#uploadInventoryModal">
            Upload Inventory
          </button>
        </div>
        <div class="btn-group">
          <button
              class="btn btn-default btn-xs"
              data-toggle="modal"
              data-target="#receiveInventoryModal"
              data-ng-disabled="true">
            Receive Inventory
          </button>
        </div>
      </div>
      <div class="col-md-5">
        <div class="pull-right">
        <form class="form-inline" data-role="form">
          <div class="form-group">
            <label class="sr-only " for="inventoryForStyle">Style</label>
            <input class="thin short" type="text" data-ng-model="enteredInventoryForStyle" id="inventoryForStyle" placeholder="Style">
          </div>
          <div class="form-group">
            <label class="sr-only " for="inventoryForColor">Color</label>
            <input class="thin short" type="text" data-ng-model="enteredInventoryForColor" id="inventoryForColor" placeholder="Color">
          </div>
          <div class="form-group">
            <label class="sr-only " for="inventoryForSize">Size</label>
            <input class="thin short" type="text" data-ng-model="enteredInventoryForSize" id="inventoryForSize" placeholder="Size">
          </div>
          <div class="form-group">
            <label class="sr-only " for="inventoryForDate">Inventory For Date</label>
            <input class="thin" type="datetime" data-ng-model="enteredInventoryForDate" id="inventoryForDate" placeholder="Inventory For Date">
          </div>
          <div class="form-group">
            <label class="sr-only" for="limitTo">Limit</label>
            <select data-ng-model="inventoryQuery.limitTo" data-ng-options="lto for lto in limitToOptions">
              <option>10</option>
            </select>
          </div>
        </form>
        </div>
      </div>
      <div class="col-md-3">
        <div class="pull-right">
          <button
              type="button"
              class="btn btn-default btn-xs"
              data-toggle="tooltip"
              data-placement="left" title="Previous page"
              data-ng-click="previousPage()"
              data-ng-disabled="!previousPagesForDate.length">
            &lt;&lt;&lt;
          </button>
          <button
              type="button"
              class="btn btn-default btn-xs"
              data-toggle="tooltip"
              data-placement="left" title="Next page"
              data-ng-click="nextPage()"
              data-ng-disabled="!datesForPaging()">
            &gt;&gt;&gt;
          </button>
          <button
              type="button"
              class="btn btn-default btn-xs"
              data-toggle="tooltip"
              data-placement="left" title="Refresh order items"
              data-ng-click="all()">
            Refresh
          </button>
        </div>
      </div>
    </div>

    <!-- Main grid -->
    <div class="row">
      <div class="col-md-12">
        <div class="gridStyle" data-ng-grid="gridOptions"></div>
      </div>
    </div>


  <!-- Upload inventory modal -->
  <div class="modal fade" id="uploadInventoryModal" data-role="dialog" data-aria-labelledby="myModalLabel" data-aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" data-aria-hidden="true">&times;</button>
          <h4 class="modal-title">Upload Inventory</h4>
        </div>
        <div class="modal-body">
          <form data-ng-upload="uploadComplete(content)" data-ng-upload-loading="startUploading()" action="/inventory/upload" data-role="form">
            <div class="form-group">
              <label for="orderFile">Inventory csv file</label>
              <input type="file" name="file" id="inventoryFile">
              <p class="help-block">Select the csv file that contains the inventory.</p>
            </div>
            <button type="submit" class="btn btn-default" data-ng-model="button" data-ng-disabled="isUploading">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div><!-- /Upload inventory modal -->


  <!--  Receive inventory modal -->
  <div class="modal fade" id="uploadReceiveInventoryModal" data-role="dialog" data-aria-labelledby="myModalLabel" data-aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" data-aria-hidden="true">&times;</button>
          <h4 class="modal-title">Receive Inventory</h4>
        </div>
        <div class="modal-body">
          <form data-ng-upload="uploadComplete(content)" data-ng-upload-loading="startUploading()" action="/inventory/receive/upload" data-role="form">
            <div class="form-group">
              <label for="orderFile">Receive csv file</label>
              <input type="file" name="file" id="orderFile">
              <p class="help-block">Select the csv file that contains the receive data.</p>
            </div>
            <button type="submit" class="btn btn-default" data-ng-model="button" data-ng-disabled="isUploading">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div><!-- /Receive inventory modal -->
</div>